header{
    position: sticky;
    top: 0;
    z-index: 999;
}
#logo{
    width: 40px;
}
main{
    min-height: 80vh;
    margin-left: 250px;
    transition: all 0.2s ease-in-out;
}
.hidden-aside{
    margin-left: 0 !important;
}
aside{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    padding-top: 150px;
    overflow: hidden;
    white-space: nowrap;
}
aside .nav-item{
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
aside .nav-item:hover{
    background-color: var(--success);
}
nav .nav-item:hover{
    background-color: var(--success);
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
nav .nav-item:hover a{
    color: white;
}
@media screen and (max-width:700px){
    #logo{
        width: 30px;
    }
}
#menu-toggler{
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    margin-right: 8px;
    margin-top: 2px;
    color: white;
}
#menu-toggler:active{
    outline: none;
}