:root{
    --primary : #0d6dfdc2;
    --success : rgb(70, 164, 70);
    --secondary : rgba(112, 112, 112, 0.601);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.452) rgb(33, 37, 41) ;
}
body{
    min-height: 100vh;
}
.bg-success{
    background-color: var(--success) !important;
}
.text-success{
    color: var(--success) !important;
}
.errors{
    padding: 0;
    /* width: 80%; */
}
.error{
    list-style: none;
    margin: 0;
}
.form-group{
    position: relative;
}
.password-toggler{
    position : absolute;
    top: 14px;
    right: 17px;
}
.password-toggler i{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    pointer-events: none;
}